---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=48.857066,%202.341138&language=en&origins=10%2BPlace%2Bde%2Bla%2BConcorde,%2B75008%2BParis,%2BFrance&sensor=false&unit=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "1561 Place du Pont Neuf, 75001 Paris, France" ],
           "origin_addresses" : [ "10 Place de la Concorde, 75008 Paris, France" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "2.3 km",
                          "value" : 2335
                       },
                       "duration" : {
                          "text" : "5 mins",
                          "value" : 293
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 02 Apr 2014 22:24:10 GMT
recorded_with: VCR 2.9.0
